<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/login/auth" method="post">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="submit" value="login">
</form>
</body>
</html>