<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/signup/save-user" method="post">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="text" name="nickname">
    <input type="submit" value="회원가입">
</form>
</body>
</html>